.todo {
  max-width: 500px;
  width: 100%;
  margin: 200px auto 0;
}

li {
  list-style: none;
}

label {
  display: block;
  margin-bottom: 10px;
}
input {
  width: 100%;
  padding: 10px 20px;
  background: aliceblue;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
}
.list {
  width: 100%;
  padding-left: 0;
}
.list_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: aliceblue;
  padding: 10px 20px;
  font-size: 16px;
  box-sizing: border-box;
}
.list_item + .list_item {
  margin-top: 10px;
}
button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
